@import '../../variables.scss';

.feedback-log {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.feedback-bubble {
  margin: 10px 0 0 30px;
  display: inline-block;
  position: relative;
	background-color: $primary-color;
  padding: 1em;
  max-width: 350px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  white-space: pre-line;
  
  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: $primary-color transparent transparent transparent;
  }
}