.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #262328;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #57525e;

    .title {
      color: #ffffff;
      font-size: 28px;
      margin-left: 15px;
    }

    .logo {
      margin-left: 10px;
      width: 50px;
      height: 50px;
    }
  }

  .content{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-left: 20px;
    margin-right: 20px;

    .left-content {
      flex-grow: 2;
      flex-direction: column;
      display: flex;
      align-items: center;
    }

    .right-content {

    }
  }
}

.student-section {
  display: flex;
  align-items: flex-start;
}

.user-input {
  display: block;
}

.submit-button {
  margin-top: 10px;
}
